{% extends "base.html"%}
{% block content %}

<!--Main layout-->
<main>
  <div class="container">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Price</th>
          </tr>
        </thead>
        <tbody>
          {% for orderItem in order.items.all %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{orderItem.item.title}}</td>
            <td>
              <a class="mr-2" href="{% url 'core:add-quantity' orderItem.item.slug %}"><i class="fas fa-plus"></i></a>
              {{ orderItem.item.price }}
              <a class="ml-2 " href="{% url 'core:minus-quantity' orderItem.item.slug %}"><i class="fas fa-minus"></i></a>
            </td>
            <td>{{orderItem.quantity}}</td>
            <td>{{orderItem.get_total_price}}
                {% if orderItem.item.discounted_price %}
                <span class="badge badge-primary">Saved {{orderItem.get_amount_saved}}$</span>
                {% endif %}
                <a href="{% url 'core:remove-product' orderItem.item.slug %}" class="float-right">
                  <i class="fas fa-trash"></i>
                </a>
            </td>

          </tr>
          {% endfor %}
          <tr>
            <td colspan="4"><b>Order Total :</b></td>
            <td>
              {{order.get_total_amount}}
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <a href="{% url 'core:checkout'%}" class="btn btn-primary float-right">Go to checkout</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</main>



<div class="table-responsive text-nowrap">


{% endblock content %}
