{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
  <!--Main layout-->
    <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Checkout form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-8 mb-4">

          <!--Card-->
          <div class="card">


            <!--Card content-->
            <form method="post"class="card-body">
              {% csrf_token %}
              <!--Grid row-->


              <!--address-->
              <div class="md-form mb-5">
                {% comment %}
                  <input type="text" id="address" class="form-control" placeholder="1234 Main St">
                {% endcomment %}
                {{ form.street_adress}}
                <label for="address" class="">Address</label>
              </div>

              <!--address-2-->
              <div class="md-form mb-5">
                {% comment %}
                <input type="text" id="address-2" class="form-control" placeholder="Apartment or suite">
                {% endcomment %}
                {{ form.appartement_adress }}
                <label for="address-2" class="">Address 2 (optional)</label>
              </div>

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 mb-4">

                  <label for="country">Country</label>
                  {% comment %}
                  <select class="custom-select d-block w-100" id="country" required>
                    <option value="">Choose...</option>
                    <option>United States</option>
                  </select>
                  {% endcomment %}
                  {{form.country}}
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-4 col-md-6 mb-4">

                  <label for="zip">Zip</label>
                  {% comment %}
                  <input type="text" class="form-control" id="zip" placeholder="" required>

                  {% endcomment %}
                  {{form.zip}}
                  <div class="invalid-feedback">
                    Zip code required.
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <hr>

              <div class="custom-control custom-checkbox">

                <input {% if form.same_shipping_adress.value %}checked{% endif %} type="checkbox" class="custom-control-input" id="same-address">

                <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
              </div>
              <div class="custom-control custom-checkbox">
                <input {% if form.save_info.value %}checked{% endif %} type="checkbox" class="custom-control-input" id="save-info" />
                <label class="custom-control-label" for="save-info">Save this information for next time</label>
              </div>

              <hr>

              <div class="d-block my-3">
                {% for value, text  in form.fields.payment_option.choices  %}
                <div class="custom-control custom-radio">
                  <input id="{{text}}" name="payment_option" value="{{value}}" type="radio" class="custom-control-input"  required>
                  <label class="custom-control-label" for="{{text}}">{{text}}</label>
                </div>
                {% endfor %}
              </div>


              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>

            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
         {% include "order_snippet.html" %}
       </div>
      </div>
      <!--Grid row-->

    </div>
  </main>
{% endblock %}
  <!--Main layout-->
